@import "./index.css";

.hero-container-all {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 254, 255);
  height: 800px;
  width: 100vw;
}

.titles-container{
  max-width: 800px;
}

.empty-div{
width: 130px;
}

.plane-icon {
  width: 150px;
  text-align: left;
  position: absolute;
  left: 5;
  padding-bottom: 10px;
  animation: 2s linear swingViewport;
  font-family: sans-serif;
}


@keyframes swingViewport {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(70vw - 100%));
    }
  }


@media (max-width: 700px) {

  .titles-container > h1{
      font-size: 30px;
      text-align: center;
      margin-top: 10px;
      padding: 10px;
  }

  .animated-characters-container{
    display: none;
  }

  .empty-div{
    display: none;
    }

  .titles-container{
    justify-content: center;
  }

  .plane-icon {
    width: 240px;
    height: 100px;
    margin-bottom: 0;
    top: 160px;
    left: 45px;
    animation: 2.5s ease-in-out alternate infinite swingViewport;
    font-family: sans-serif;
  }

  @keyframes swingViewport {
    from {
      transform: rotate(0);
      transform: translateX(100);
    }
    to {
      transform: rotate(9rad);
      translate: translateX(calc(100vw - 100%));
    }
  }
  
}