@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title{
    color: rgba(19, 57, 117, 0.820);
    place-items: flex-end;
    margin-right: 80px;
} 
.btn-scopri-piu{
    background-color: rgba(19, 57, 117, 0.846);
    color: white;
    border: none;
}

.btn-generic{
    background-color: rgba(19, 57, 117, 0.820);
    border: none;
}

.btn-generic:hover{
    background-color:rgb(136, 36, 136);
}

.fa-solid{
    color: rgb(136, 36, 136);
    margin-left: 10px;
    font-size: 13px;
}
