@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-blue: rgba(19, 57, 117, 0.82);
  --color-purple: rgb(136, 36, 136);
}

html {
  scroll-behavior: smooth;
}

.main-title {
  color: var(--color-blue);
  place-items: flex-end;
  margin-right: 80px;
}
.btn-scopri-piu {
  background-color: var(--color-blue);
  color: white;
  border: none;
}

.btn-generic {
  background-color: var(--color-blue);
  border: none;
}

.btn-generic:hover {
  background-color: var(--color-purple);
}

.fa-solid {
  color: var(--color-purple);
  margin-left: 10px;
  font-size: 13px;
}
