html,
body,
#root {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

#root {
  display: flex;
}

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}