@import "./index.css";

.login-section-container{
    min-height: 600px;
    display: flex;
}

.form-body-container{
    min-height: fit-content;
    background-color: white;
    border-radius: 20px;
}

