@import "./index.css";

.team-container{
    padding: 25px;
}

.team-title{
    color: var(--color-white);
    font-size: 58px;
}

.s-flyers{
    color: var(--color-purple);
}

.name-avatar-title{
    color: var(--color-white);
}